header{
    background-image: url(/assets/fundo.png);
    background-position: center;
    background-size: cover;
    min-height: 150px;
}

header img{
    max-width: 280px;
    padding: 20px;
}

header div{
    background-color: black;
}